.choose-us{
	background-color: #1B6D9D;
	position: relative;
	//top: 20px;
	color: white;
	text-align: justify;
}
.choose-us-icons {
    padding: 58px 0 0 0;
    text-align: center;
 }
.choose-us-icons img{
	padding: 0 0 16px 0;
    width: 110px;
    height: 73px;
    }
.choose-us-text {
    font-size: 16px;    
    text-align: center;
    font-weight: bolder;
}
.choose-us-icon-container{
    min-height: 171px;
}
.choose-icon-parent-div{
    margin-bottom: 40px;
}
.choose-us-text-parent{
    margin-top: 50px;
}
.choose-us-text-parent h2{
    text-align: left;
}
.ChooseTriangle{
    fill:#1B6D9D;
    background-color:#F4F3F0; 
}