.links-page-div{
	background-color: #000;
    line-height: 1.6;
    padding-bottom: 20px;
}
.links-page-line{
		    color: #909090;
		    font-size: 24px;
    font-style: italic;
        text-align: right;
            text-align: center;
    padding-top: 40px;
}
.links-page-logo{
	    text-align: center;			
}
.links-page-logo .logo{
	    margin-top: -30px;
}
.quick-links{
	font-size: 18px;
    font-weight: 700;
    color: #28c2ba;
    text-align: left;
    margin: 7px 0 7px 0;
}
p{
    margin: 0 !important; 
}
.book-engineer-link{
    cursor: pointer;
    color: #777777;
}
.book-engineer-link:hover{
    color:#28c2ba;
}
.linksNon_a{
    color: #77775C;
    cursor: pointer;
}
.social-link{
    width:30px;
    height:30px;
    margin: 7px 7px;
}
.triangle.links{
    background: #e1e1e1;

}
.imp-links{
    height:180px;
}