body{
	/*font-family: arial;*/
	line-height: 1.3;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;	
	//background-image: url('/iconImage3');
	//-webkit-filter: blur(1px);
	}
#background-image{
	background-image: url("/../images/back2.jpg");
	position: fixed;
    top: 0;
    width: 100%;
    height: 1000px;
    z-index: -999;
}
#background-image-inner-pages{
	background-image: url("/../images/back.jpg");
	position: fixed;
    top: 0;
    width: 100%;
    height: 1000px;
    z-index: -999;
}
/*.btn-primary {
    color: #fff;
    background-color: black;
    border-color: black;
}
.btn-primary:hover {
    color: #fff;
    background-color: black;
    border-color: black;
    box-shadow: 1px 1px 11px 1px white;
}*/
#loginForm{
	padding: 5px;
}
#loginForm {
	padding: 15px;
}



#loginForm input[type=email] ,#loginForm input[type=password] {
	width : 300px;
   -webkit-transition: all .35s ease-in-out;
   -moz-transition: all .35s ease-in-out;
   -o-transition: all .35s ease-in-out;
   transition: all .35s ease-in-out;
}
#loginForm 	input[type=email]:focus ,#loginForm input[type=password]:focus {

}
#errorSpan{
	color: blue;
	font-weight: bold;
}
#laptopRepair{
	width: 120px;
	height: 120px;
}
.panelShowcase{
	text-align: center;
}
.panelText h4{
	text-align: left;
	color:black;
	font-family: 'New Rail Alphabet Off White','New Rail Alphabet White',Helvetica,Arial,sans-serif;
    color: #3d3d3d;
    font-size: 3em;
    letter-spacing: -.06em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: 300;
    margin: 0 0 0 -3px;
    line-height: 100%;
    padding: 20px 0 15px 0;
}
.panelText p{
	text-align: left;
	color:black;
	padding-right: 150px

}
.panelItemContainer{
	border-style:none;
	margin-bottom: 60px;
}
.requestDiv{
	text-align: center;
	border-left: solid 0.5px;
	border-color: gray
}
.requestDiv h2{
	font-weight: normal;
}
sup{
	color: red;
}
.activeDate{
	float:right;
}
.panelItems:hover{
	background-color: 	#F0F8FF;

}
.loading{
	position: fixed;
	top:35%;
	left:45%;
}
.loading img{
	background-color: transparent;
	width:100px;
	height:100px;
}
#notificationBar{
	z-index: 11;	
	background-color: #ef3a29;
	min-height: 30px;
	color:white;
	font-weight: bold;
	padding: 5px;
	position: fixed;
	top:0%;
	-webkit-transition: all .35s ease-in-out;
   -moz-transition: all .35s ease-in-out;
   -o-transition: all .35s ease-in-out;
   transition: all .35s ease-in-out;

}
#notificationBar img{
	width: 30px;
	height: 30px;

}
.logoDiv{
	    position: absolute;
    z-index: 10;
    background-color: #1B6D9D;
    left: 2%;
    height: 100px;
    border-radius: 35px;
    overflow: hidden;
    cursor: pointer;

}
.logo{
	    min-width: 10px;
    min-height: 20px;
    width: 166px;
    height: 102px;
}
.recoverPasswordDiv{
	float: left;
}
.activation{
	float: right;
}
.recoverPasswordDiv:hover{
cursor:pointer;
}
button.btn.btn-primary.btn-group-justified.callEngineer{
	position:relative;
	height: 50px;
	margin-top: 5%;
	font-weight: bold;
	background-color: #1B6D9D;
	border-color: white;
}
button.btn.btn-primary.btn-group-justified.callEngineer:hover,button.btn.btn-primary.btn-group-justified.callEngineer:active,
button.btn.btn-primary.btn-group-justified.callEngineer:focus,button.btn.btn-primary.btn-group-justified.callEngineer:visited{
	background-color: white;
    color: black;
    border-color: white;
}
/*.callEngineer:hover{
	width:170px;
		-webkit-transition: all scale(1.05);
   -moz-transition: all .03s ease-in-out;
   -o-transition: all .03s ease-in-out;
   transition: all .03s ease-in-out;
}*/

.tagline{
	font-weight: bolder;
    font-size: 17px;
    text-align: center;
    color: white;
	/*padding-right: 90px;*/
}

.repairDisplay{
	padding: 20px;
	color: white;
	line-height: 2;
    font-weight: 600;
}
.displayDesktop{
	cursor:pointer;
	height: 87px;
	padding :20px 0 0 14px;
	border:solid 1px;
	border-radius: 0px 3px 0px 0px;
	border-color: gray;
}
.displayLaptop{
	padding :27px 0 0 20px;;
	border:solid 1px;
	border-right: none;
	border-radius: 3px 0px 0px 0px;
	border-color: gray;
	height: 87px;
}
.selection{
	padding :20px;
	border:solid 1px;
	border-top: none;
	border-radius: 0px 0px 3px 3px;
	border-color: white;

}
.selectionDeviceImageDiv{
	height:300px;
}
.selectedDeviceImage{
	//opacity:0.1;
	width:70%;
	height:100%;
	overflow: hidden;
}
.issuesList{
	list-style-type: square;
}
.modal-body{
	overflow: hidden;
}
.call-engineer-li{
	margin-right: 10px;
}
@media all and (max-width: 768px) {  
#loginForm{
	background-color: white;
	    width: 100%;
} 
#loginForm input[type=email] ,#loginForm input[type=password] {
	width : 100%;
}
.login-tab{
	margin-top: 5px;
}
.call-engineer-li{
	margin-right: none;
}
}