@font-face {
    font-family: headingsFont;
    src: url("/fonts/ufonts.com_gotham-medium.woff");
}
body{
	/*font-family: arial;*/
	line-height: 1.3;
    font-family: headingsFont;
    font-size: 14px;	
	//background-image: url('/iconImage3');
	//-webkit-filter: blur(1px);
}
textarea {
    resize: none;
}
.btn[disabled]{
	cursor: default;
}
.navbar{
	z-index: 1000;
}
#background-image{
	background-image: url("/../images/iconImage3.jpg");
	position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.2;
    height: 1000px;
    z-index: -999;
}
#background-image-inner-pages{
	background-image: url("/../images/back.jpg");
	position: fixed;
    top: 0;
    width: 100%;
    height: 1000px;
    z-index: -999;
}
.triangle{
    height: 50px;
    width: 100%;
    display: block;
}
.welcome-image{
    background-position: 56% 17%;
    background-repeat: no-repeat;
     background-color: #E9EAEF; 
    background-image: url("/../images/service.jpg");
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.6;
    z-index: -999;
    /* width: 100%; */
    height: 570px;
    /* overflow: hidden; */
    pointer-events: none;
    transition: transform linear -1ms, -webkit-transform linear -1ms;
    background-size: 100% 100%;
    visibility: visible;
    }
#loginForm{
	padding: 5px;
}
#loginForm {
	padding: 15px;
}
#loginForm input[type=email] ,#loginForm input[type=password] {
	width : 300px;
   -webkit-transition: all .35s ease-in-out;
   -moz-transition: all .35s ease-in-out;
   -o-transition: all .35s ease-in-out;
   transition: all .35s ease-in-out;
}
#loginForm 	input[type=email]:focus ,#loginForm input[type=password]:focus {


}
#errorSpan{
	color: blue;
	font-weight: bold;
}
#laptopRepair{
	width: 120px;
	height: 120px;
	overflow: hidden;
}
.panelShowcase{
	text-align: center;
}
.panelMainDiv{
	    padding: 100px 0;
    margin: -100px 0;
    background: white;
    width: 100%;
}
.panelText h4{
	text-align: left;
	color:black;
	font-family: 'New Rail Alphabet Off White','New Rail Alphabet White',Helvetica,Arial,sans-serif;
    color: #3d3d3d;
    font-size: 3em;
    letter-spacing: -.06em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: 300;
    margin: 0 0 0 -3px;
    line-height: 100%;
    padding: 20px 0 15px 0;
}
.panelText p{
	text-align: left;
	color:black;
	padding-right: 150px
}
.panelItemContainer{
	border-style:none;
	margin-bottom: 60px;
}
.requestDiv{
	text-align: center;
	border-left: solid 0.5px;
	border-color: gray
}
.requestDiv h2{
	font-weight: normal;
}
sup{
	color: red;
}
.activeDate{
	float:right;
}
.panelItems:hover{
	background-color: 	#F0F8FF;
}
.loading{
	position: fixed;
	top:35%;
	left:45%;
}
.loading img{
	background-color: transparent;
	width:100px;
	height:100px;
}
#notificationBar{
	z-index: 1001;	
	background-color: #293A4A;
	min-height: 30px;
	color:white;
	font-weight: bold;
	padding: 5px;
	position: fixed;
	top:0%;
	-webkit-transition: all .35s ease-in-out;
   -moz-transition: all .35s ease-in-out;
   -o-transition: all .35s ease-in-out;
   transition: all .35s ease-in-out;
}
#notificationBar img{
	width: 30px;
	height: 30px;
}
#notificationBarSuccess{
	z-index: 1001;	
	background-color: #00796b;
	min-height: 30px;
	color:white;
	font-weight: bold;
	padding: 5px;
	position: fixed;
	top:0%;
	-webkit-transition: all .35s ease-in-out;
   -moz-transition: all .35s ease-in-out;
   -o-transition: all .35s ease-in-out;
   transition: all .35s ease-in-out;
}
#notificationBarSuccess img{
	width: 30px;
	height: 30px;
}
.logoDiv{
	position: absolute;
    z-index: 10;
    background-color: #1B6D9D;
    left: 2%;
    /*height: 100px;*/
    border-radius: 35px;
    overflow: hidden;
    cursor: pointer;

}
.logo{
	    min-width: 10px;
    min-height: 20px;
    width: 166px;
    height: 87px;
    margin-top: -36px;
}
.recoverPasswordDiv{
	float: left;
}
.activation{
	float: right;
}
.recoverPasswordDiv:hover{
cursor:pointer;
}
button.btn.btn-primary.btn-group-justified.callEngineer{
	position:relative;
	/*height: 50px;*/
	margin-top: 9px;
	font-weight: bold;
	background-color: #1B6D9D;
	border-color: white;
}
button.btn.btn-primary.btn-group-justified.callEngineer:hover,button.btn.btn-primary.btn-group-justified.callEngineer:active,
button.btn.btn-primary.btn-group-justified.callEngineer:focus,button.btn.btn-primary.btn-group-justified.callEngineer:visited{
	background-color: white;
    color: black;
    border-color: white;
}
.tagline{
	
    font-family: headingsFont;
    font-weight: lighter;
    font-size: 4em;
    opacity: 0.9;
    text-align: right;
    padding-top: 60px;
    margin: 0 100px 0 0;
}
.taglineDiv{
    height: 370px;

}
.cover{
	    height: 400px;
    background: rgba(39,56,68,.6);
}
.repairDisplay{
	padding: 20px;
	color: #3d3d3d;
	line-height: 2;
    font-weight: 600;
}
.displayDesktop{
	cursor:pointer;
	height: 95px;
	padding :20px 0 0 14px;
	border:solid 1px;
	border-radius: 0px 3px 0px 0px;
	border-color: gray;
}
.displayLaptop{
	padding :27px 0 0 20px;;
	border:solid 1px;
	border-right: none;
	border-radius: 3px 0px 0px 0px;
	border-color: gray;
	height: 95px;
}
.selection{
	padding :20px;
	border:solid 1px;
	border-top: none;
	border-radius: 0px 0px 3px 3px;
	border-color: #3d3d3d;
	overflow: hidden;
}
.selectionDeviceImageDiv{
	height: 300px;
	text-align: center;
}
.selectedDeviceImage{
	height:100%;
	overflow: hidden;
}
.issuesList{
	list-style-type: square;
}
.modal-body{
	overflow: hidden;
}
.call-engineer-li{
	margin-right: 10px;
}
.map-include-div{
	pointer-events: none;
    background: white;    
    margin: 25px 0;
        padding: 0;
}
.pointer-cursor:hover {
	cursor: pointer;
}