@media all and (max-width: 767px) {  
	#loginForm{
		background-color: white;
		width: 100%;
	} 
	#loginForm input[type=email] ,#loginForm input[type=password] {
		width : 100%;
	}
	.login-tab{
		margin-top: 5px;
	}
	.call-engineer-li{
		margin-right: none;
	}
	#slider{
		width: 100%;
	}
	#signUp-refer form{
		float: initial;
	}

	.taglineContent{
		top: 30%;
  		left: 10%;

	}
	.invitationText{
		padding: 13.5% 0 0 8px;
    font-size: 15px;
    }
}
@media all and (max-width: 800px) {  
	.taglineDiv{
		/*height: initial;*/
	}	
	.welcome-image{
    background-position: 21% -46%;
    background-size: 289% 90%;
	}
	.navbar-default {
		 margin-bottom: 0px;
	}
	.tagline{
		font-size: 3em;
	}
	.check-availability {
    font-size: 15px;
	}
	.reach-you-heading {
    	padding: 0;
	}
}
@media all and (max-width: 800px) {
	.pincode-input {
	    width: 200px;
        margin-bottom: 10px;
        margin-top: 0px;
	}
}

@media all and (max-width: 1085px) and (min-width: 767px) {
	.taglineContent{
		top: 30%;
  		left: 30%;
	}
}

@media all and (max-width: 500px) {
	.taglineContent{
		top: 30%;
  		left: 0%;
	}
	.taglineVisible ul {
	    padding-left: 100px;
	}
	.taglineContent {
    font-size: 24px;
	}
	.taglineDiv {
    height: 280px;
	}
}