
	<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 container-fluid welcome-image' >
		
	</div>
	<!-- <div class="cover"></div> -->
<div class='taglineDiv'><div class="tagline">WE REPAIR</div></div>


<!-- <div  ng-if="homePage" ng-include="'/html/map.html'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container-fluid map-include-div" ></div> -->
<svg class="triangle CheckTriangle" viewBox="0 0 24 23.8" preserveAspectRatio="none">
           <polygon points="0,0 0,100 100,100"/>
        </svg>
	<div ng-include="'/html/checkAvailability.html'"></div>

	<!-- <div ng-include="'/html/slider.html'"></div> -->
      
<!-- <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 container-fluid'>


	<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
	<div class='col-lg-2 col-md-2 col-sm-12 col-xs-12'>
	<br>&nbsp
	</div>
	<div class='col-lg-8 col-md-8 col-sm-12 col-xs-12 repairDisplay'>
		<div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 displayLaptop' ng-click="selection('laptop')"  ng-style="borderStyleLaptop">
		<img src="/images/laptopSmall.svg">
		Laptop</div>
		<div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 displayDesktop' ng-click="selection('desktop')" ng-style="borderStyleDesktop">
		<img src="/images/desktopSmall.svg">
		Desktop</div>
		<div ng-show="(selectedDevice === 'desktop')" class='col-lg-12 col-md-12 col-sm-12 col-xs-12 selection'>
			<div ng-include="'/html/desktopIssues.html'"></div>	
		</div>
		<div ng-show="(selectedDevice === 'laptop')" class='col-lg-12 col-md-12 col-sm-12 col-xs-12 selection'>
			<div ng-include="'/html/laptopIssues.html'"></div>
		</div>
	</div>
</div>
	

</div> -->
<svg class="triangle ChooseTriangle" viewBox="0 0 24 23.8" preserveAspectRatio="none">
           <polygon points="0,0 0,100 100,100"/>
        </svg>
<div ng-include="'/html/choose.html'" class='col-lg-12 col-md-12 col-sm-12 col-xs-12 container-fluid choose-us'></div>
<div ng-include="'/html/askExperts.html'"></div>
<div ng-include="'/html/linksPage.html'"></div>