<link rel="stylesheet" type="text/css" href="/css/linksPage.css">
<svg ng-if="homePage" class="triangle links" viewBox="0 0 24 23.8" preserveAspectRatio="none">
           <polygon points="0,0 0,100 100,100"/>
        </svg>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container-fluid links-page-div">

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container links-page-heading">
		<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 container links-page-logo">
			<img src="/images/logo.png" class="logo">
		</div>
		<div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 links-page-line">
			Professional computer service. Working for you 7 days a week.
		</div>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 container-fluid imp-links">
		<div><div class="quick-links">OFFICE</div><a class="book-engineer-link" href="tel:7339336172">733-933-6172</a></div>
		<div><div class="quick-links">ADDRESS</div><p class="book-engineer-link">Coimbatore</p></div>
		
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 container-fluid imp-links">
		<div class="quick-links">Quick Links</div>
		<div><a class="book-engineer-link" ng-click="engineerBook()">Book an Engineer</a></div>
		<div><a class="book-engineer-link" ng-click="enqueryModal()" data-toggle="modal"  data-target="#enquireModal">Get a Quote</a></div>
		<div><a class="book-engineer-link" ng-click="enqueryModal()"  data-toggle="modal"  data-target="#enquireModal">Get Suggestion From Experts</a></div>
		<div><a class="book-engineer-link" href="#/panel">Account</a></div>

	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 container-fluid imp-links">
		<div class="quick-links">Legal</div>
		<div><a class="book-engineer-link" href="/#/terms">Terms and Conditions</a></div>
		<div><a class="book-engineer-link" href="/#/privacy-policy">Privacy Policy</a></div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 container-fluid imp-links">
		<div class="quick-links">Social</div>
		<span><a class="book-engineer-link" href="https://www.facebook.com/clorda/?fref=ts" target="_black"><img class="social-link" src="/images/facebook.svg"></a></span>
		<span><a class="book-engineer-link" href="https://twitter.com/clordacorp" target="_black"><img class="social-link" src="/images/twitter.svg"></a></span>
		<span><a class="book-engineer-link" href="https://www.youtube.com/watch?v=fyxaSx0tz2Y" target="_black"><img class="social-link" src="/images/youtube.svg"></a></span>
		<span><a class="book-engineer-link" href="https://www.instagram.com/clordacorp/" target="_black"><img class="social-link" src="/images/instagram.svg"></a></span>
		</div>
</div>