<nav class="navbar navbar-default container-fluid">
<div class="logoDiv" ng-click="goToHomePage()"><img src="/images/logo.png" class="logo"></div>
  <div class="container-fluid ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
      <!--  <p class = "navbar-text" id= "errorSpan"> {{errorMessageNavBar}}</p> -->
    <li class="call-engineer-li">
        <button class="btn btn-primary btn-group-justified callEngineer" ng-click="engineerBook()"  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">BOOK AN ENGINEER</button>
    </li>
    <li class="call-engineer-li">
        <button class="btn btn-primary btn-group-justified callEngineer" ng-click="enqueryModal()"  data-toggle="modal"  data-target="#enquireModal" >ENQUIRE FIRST</button>
    </li>
    <li class="dropdown" ng-hide="loggedIn">
      <a class="dropdown-toggle login-tab" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >{{loginButton}} <span class="caret"></span></a>
     
      <ul class="dropdown-menu">
      <div class="input-group" id="loginForm">
      <form name="loginForm">
        <li><input type="email" name="userEmail" id="userEmail" class="form-control" placeholder="User Name" data-toggle="tooltip" title="Enter Email Address!" ></li>
        <div><span>&nbsp</span></div>
        <li><input type="password" name="password" id="password" class="form-control" placeholder="Password" data-toggle="tooltip" title="Enter Password!"></li>
	     <div><span>&nbsp</span></div>
        <li><input type="button" class="btn btn-success btn-group-justified " value="LOGIN" ng-click="login()" /></li>
      
      </form>
        <div style="display: inline;">
        <li>
          <span class="recoverPasswordDiv" data-toggle="modal" data-target="#recoverPassword" >
          <sub>Recover Password?</sub>
          </span>
          </li>
          <li>
          <span class="recoverPasswordDiv activation" data-toggle="modal" ng-click="activationEmailSent.flag=false" data-target="#resendActivationEmail">
          <sub>Resend Activation Email</sub>
          </span>
      </li>
      </div>
      </div>
      </ul>
    </li>
  		 <li ng-show="loggedIn"><a href="#/panel"  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">Account</a></li>
        <li ng-show="loggedIn"><a ng-click="logout()" id="logout-button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">Logout</a></li>

<!-- signup -->
  <li class="dropdown" ng-hide="loggedIn">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign Up <span class="caret"></span></a>
         
          <ul class="dropdown-menu">
          <div class="input-group" id="loginForm">
          <form name="signUpForm">
            <li><span>Email Address<sup>*</sup></span><input type="email" name="userEmailSignUp" id="userEmailSignUp" ng-model="userEmailSignUp" class="form-control"  data-toggle="tooltip" title="Enter Email Address!" required></li>
        
             <div ng-if="signUpForm.userEmailSignUp.$dirty && signUpForm.userEmailSignUp.$invalid"><span><sup>invalid Email Address</sup></span></div>
               <div><span>&nbsp</span></div>

            <li><span>Name<sup>*</sup></span><input type="text" name="userNameSignUp" id="userNameSignUp" ng-model="userNameSignUp" class="form-control"  data-toggle="tooltip" title="Enter Name!" required></li>
            <div><span>&nbsp</span></div>

            <li><span>Enter New Password<sup>*</sup></span><input type="password" name="passwordOne" id="passwordOne" ng-model = "passwordOne" class="form-control" data-toggle="tooltip" title="Enter New Password!" required></li>
           <div><span>&nbsp</span></div>

            <li><span>Re-enter Password<sup>*</sup></span><input type="password" name="passwordTwo" id="passwordTwo" ng-model = "passwordTwo" class="form-control" data-toggle="tooltip" title="Confirm Password!" required></li>
          <div ng-if="passwordOne != passwordTwo && signUpForm.userEmailSignUp.$dirty && signUpForm.passwordTwo.$dirty"><span><sup>Password Didn't match</sup></span></div>
          <div><span>&nbsp</span></div>
            <li><span>Contact No.<sup>*</sup></span><input type="Number" name="contactNo" id="contactNo" ng-model = "contactNo" class="form-control" data-toggle="tooltip" title="Enter Mobile No.!" required></li>
            <div><span>&nbsp</span></div>
            <li><input type="button" class="btn btn-primary btn-group-justified " ng-disabled = "passwordOne != passwordTwo ||  !signUpForm.userEmailSignUp.$dirty || !signUpForm.userNameSignUp.$dirty || !signUpForm.contactNo.$dirty || !signUpForm.userEmailSignUp.$valid || !signUpForm.contactNo.$valid || !signUpForm.userNameSignUp.$valid ||  !signUpForm.passwordTwo.$dirty ||  !signUpForm.passwordOne.$dirty " value="Sign Up" ng-click="signUp()" /></li>
            
          </form>
          </div>
          </ul>
  </li>
<!-- sign up ends -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="notificationBar" ng-show="errorMessageNavBar != '' " class = " col-lg-12 col-md-12 col-sm-12 col-xs-12 container-fluid" ><img src="/images/error.png"> &nbsp{{errorMessageNavBar}}</div>
<div id="notificationBarSuccess" ng-show="errorMessageNavBarSuccess != '' " class = " col-lg-12 col-md-12 col-sm-12 col-xs-12 container-fluid" ><img src="/images/successMessage.svg"> &nbsp{{errorMessageNavBarSuccess}}</div>



<!-- modal -->
<div class="modal fade" id="recoverPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Enter Registered Email Address To Receive Password</h4>

      </div>
    <div class="modal-body">
       <form name="loginForm">
            <input type="email" ng-show="!recovery.recoveryEmailSent" name="userEmailRecover" ng-model="userEmailRecover.email" id="userEmailRecover.email" class="form-control" placeholder="Enter Registered Email" data-toggle="tooltip" title="Enter Email Address!" required>
            <p ng-show="recovery.recoveryEmailSent"> Your Password Is Sent To Your Registered Email Address</p>
            <div><span>&nbsp</span></div>
           <div class="loading" ng-if="loadingInModal"><img src="/images/loading.gif"></div>
        </form>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-show="!recovery.recoveryEmailSent" ng-disabled="loginForm.userEmailRecover.$invalid || userEmailRecover.email == '' " ng-click="recoverPassword(userEmailRecover.email)">Send Password</button>
        <button type="button" class="btn btn-Default" data-dismiss="modal" ng-click="recovery.recoveryEmailSent = false" ng-show="recovery.recoveryEmailSent">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- modalends -->

<!-- modal -->
<div class="modal fade" id="resendActivationEmail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Enter Registered Email Address To Receive Activation Email</h4>

      </div>
    <div class="modal-body">
       <form name="loginForm">
            <input type="email" ng-show="!activationEmailSent.flag" name="userEmailRecover" ng-model="userEmailRecover.email" id="userEmailRecover.email" class="form-control" placeholder="Enter Registered Email" data-toggle="tooltip" title="Enter Email Address!" >
            <p ng-show="activationEmailSent.flag"> Activation Email Successfully sent.</p>
            <div><span>&nbsp</span></div>
           <div class="loading" ng-if="loadingInModal"><img src="/images/loading.gif"></div>
        </form>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-show="!activationEmailSent.flag" ng-disabled="loginForm.userEmailRecover.$invalid || userEmailRecover.email == ''" ng-click="resendActivationEmail(userEmailRecover.email)">Send Activation Email</button>
        <button type="button" class="btn btn-Default" data-dismiss="modal" ng-show="activationEmailSent.flag">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- modalends -->
<!-- modal box for enquire -->
<div class="modal fade" id="enquireModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Enter your enquiry details and we will contact you back</h4>
      </div>
    <div class="modal-body">
       <form name="enquiryForm" >
          <input type="email" ng-hide="enquiry.enquirySentFlag" name="userEmail" ng-model="enquiry.userEmail" class="form-control" placeholder="Enter Email Id" data-toggle="tooltip" title="Enter Email Address!" >
            <br ng-hide="enquiry.enquirySentFlag" >

          <textarea ng-hide="enquiry.enquirySentFlag" class="form-control" rows="5" placeholder="Get experts suggestions about your device issue, get estimate pricing for you device service" name="enquiryQuery" ng-model="enquiry.query"  required></textarea>
          <br ng-hide="enquiry.enquirySentFlag" >

          <input type="tel" ng-hide="enquiry.enquirySentFlag" name="enquiryPhoneNo" ng-model="enquiry.phoneNo" class="form-control" placeholder="Mobile Number Will Help Us Serve You Better" data-toggle="tooltip" title="Enter Email Address!" >
            
            <br ng-hide="enquiry.enquirySentFlag" >
            <p ng-show="enquiry.enquirySentFlag"> We Received Your Enquiry, We Will Reach You Soon. Thank You</p>
       </form>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-hide="enquiry.enquirySentFlag" ng-disabled="enquiryForm.userEmail.$invalid || enquiryForm.userEmail.$pristine || enquiryForm.enquiryQuery.$pristine ||
        enquiryForm.enquiryPhoneNo.$pristine || enquiryForm.enquiryPhoneNo.$invalid || enquiry.query === '' || enquiry.phoneNo == '' "  ng-click="enquiry.submitEnquiry()">Enquire</button>
        <button type="button" class="btn btn-Default" ng-click="enquiry.enquirySentFlag = false" data-dismiss="modal" ng-show="enquiry.enquirySentFlag">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- modal box for enquire ends -->

<!-- modal -->



<div class="modal fade" id="requestDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{requestType}}</h4>

      </div>
    <div class="modal-body">
        <table class="table">
        <tr><td>Device Type</td><td>{{modalContent.deviceType}}</td></tr>
        <tr><td>Service Type</td><td>{{modalContent.serviceType}}</td></tr>
        <tr><td>Issue</td><td>{{modalContent.issueDesc}}</td></tr>
        <tr><td>Date</td><td>{{modalContent.date}}</td></tr>
        <tr><td>Pick Up Address</td><td>{{modalContent.address.initialAddress}},{{modalContent.address.city}},{{modalContent.address.state}},{{modalContent.address.zipCode}}</td></tr>
        <tr><td>Contact Details</td><td>{{modalContent.tel.primary}},{{modalContent.tel.alternate}}</td></tr>
        <tr><td>Email Provided</td><td>{{modalContent.email}}</td></tr>
        <tr><td>Status</td><td>{{modalContent.status}}</td></tr>
      </table>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- modalends -->