<!DOCTYPE html>
<html>
<head>  
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/adminPanel.css">

	<script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/js/controllers/resetPassword.js"></script>
	<script type="text/javascript" src="/node_modules/angular-cookies/angular-cookies.min.js"></script>
	<script type="text/javascript" src="/node_modules/angular-touch/angular-touch.min.js"></script>
	<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<title>Clorda - Reset Password</title>
</head>
<body ng-app="resetApp" ng-controller="resetController">
	<div class="admin-login col-lg-4 col-md-6 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-3">
	<form name="signUpForm">
		<div class="input-group" ng-hide="reset.status">
		  <span class="input-group-addon" id="basic-addon1">New Password</span>
		  <input type="password" name="passwordOne" class="form-control" placeholder="" autocomplete="off" aria-describedby="basic-addon1" ng-model="reset.password">
		</div>
		<br>
		<div class="input-group" ng-hide="reset.status">
		  <span class="input-group-addon" id="basic-addon1">Confirm Password</span>
		  <input type="password" class="form-control" name="passwordTwo" autocomplete="off" aria-describedby="basic-addon1" ng-model="reset.confirmPassword">
		</div>
		  <div ng-if="reset.password != reset.confirmPassword && signUpForm.passwordOne.$dirty && signUpForm.passwordTwo.$dirty"><span><sup>Password Didn't match</sup></span></div>
		<br>
		<div class="btn-group admin-login-btn" role="group" aria-label="..." ng-hide="reset.status">
		  <button type="button" class="btn btn-success btn-group-justified" ng-click="resetPassword()" ng-disabled="reset.password != reset.confirmPassword  || !signUpForm.passwordOne.$dirty || !signUpForm.passwordTwo.$dirty || reset.password == '' || reset.confirmPassword == '' ">Reset my Password</button>
		</div>
		<div class="btn-group admin-login-btn" role="group" aria-label="..." ng-show="reset.status">
		  <button type="button" class="btn btn-success btn-group-justified" ng-click="goToHome()" >Password changed successfully, click here to login</button>
		</div>
	</form>
	</div>
</body>
</html>