<div>
<div ng-if="activeRequests.length == 0" class="well well-lg container col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12" > No Pending Service Reqest</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="activeRequests.length > 0">
<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
</div>
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
	
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Active Requests</div>
  <div class="panel-body">
    	<div class="panelItems well" ng-repeat='request in activeRequests' data-toggle="modal" data-target="#requestDetailsModal" ng-click="openModal(request)"> 
    		Issue - {{request.issueDesc}}
    		<span class="activeDate">{{request.date}}</span>
    	</div>
  </div>
  </div> 
</div>

<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="completedRequests.length > 0">
<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
</div>

<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
	
<div class="panel panel-success" ng-if="completedRequests.length > 0">
  <!-- Default panel contents -->
  <div class="panel-heading">Compteted Requests</div>
  <div class="panel-body">
    	<div class="panelItems well" ng-repeat="completedRequest in completedRequests" data-toggle="modal" data-target="#requestDetailsModal" ng-click="openModal(completedRequest)"> 
    		Issue - {{completedRequest.issueDesc}}
    		<span class="activeDate">{{completedRequest.date}}</span>
    	</div>
  </div>
  </div>
</div>

<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
</div>
</div>



</div>
