
  <div id="sliderFrame" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container-fluid">
        <div id="slider">
            <a>
                <img src="images/img1.jpg" alt="Welcome to Clorda.com" />
            </a>
            <img src="images/img2.jpg" alt=""  />
            <img src="images/img3.jpg" alt="" />
        </div>
        <div id="htmlcaption" style="display: none;" ng-click="engineerBook()">
            Click here to <a ng-click="engineerBook()">Book an Engineer</a>.
        </div>
    </div>
